* {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: center;
}
/* header */
header {
    background: #0a192f;
    color: #70f1da;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.logo img {
    width: 80px;
}

header ul {
    display: flex;
    height: inherit;
}

.nav-menu  ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

.nav-menu  ul li a {
    text-decoration: none;
    padding-right: 26px;
    color: #70f1da;
    font-family: 'Source Code Pro', monospace;
}

.nav-menu ul li a:hover {
    transition: all 0.3s;
    color: #26cbe0;
    font-size: 17px;
    transform: scale(1.1);
    display: inline-flex;
    text-decoration:underline;
}

/* hero */

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;   
}

.hero {
    background: #0a192f;
    display: flex;
    align-items: flex-end;
}